.cards-container {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 25px;
  border-radius: 15px;
  color: white;
}

.card1 { background: linear-gradient(135deg,#6a11cb,#2575fc); }
.card2 { background: linear-gradient(135deg,#ff9966,#ff5e62); }
.card3 { background: linear-gradient(135deg,#56ab2f,#a8e063); }

.card p {
  font-size: 28px;
  font-weight: bold;
}